<div class='error-page'>
  <h1 class='error-page__title'>
    Oops! Something went wrong.
  </h1>

  <p class='error-page__description'>
    We're sorry, but we're having some technical difficulties. Please try again
    later.
  </p>

  <span class='error-page__message'>
    Message:
    {{error}}
  </span>
</div>