<div class="posts-create">
  {{> create-post}}
</div>
<ul class="posts-list">
  {{#each posts user=user}}
    <li class="posts-list__item">
      {{> post this usePipe=true showLink=true}}
    </li>
  {{/each}}
</ul>