{{#> main}}
  <section class="posts">
  {{#if isAuth}}
    <h1>Welcome</h1>

    <form class="posts__form" action="/posts" method="POST">
      <textarea class="posts__form-field" name="content"  cols="30" rows="8"></textarea>

      <button class="button" type="submit">
        send
      </button>
    </form>
  {{/if}}

  {{#each posts}}
    <article class="post">
      <header class="post__header">
        <span>
          {{ this.author.userName }}
        </span>

        <time datetime="this.createdAt">
          {{ formatDate this.createdAt }}
        </time>
      </header>

      <div class="post__content">
      {{ spliceContent this.content 100 }}
      </div>

      <a class="post__link" href="/posts/{{this._id}}"></a>
    </article>
  {{/each}}
  </section>
{{/main}}