{{#> main}}
  <h1>Welcome</h1>
  <section class="posts">
  {{#if isAuth}}
    {{> create-post}}
  {{/if}}

  {{#each posts}}
    <article class="post">
      <header class="post__header">
        <span>
          {{ this.author.userName }}
        </span>

        <time datetime="this.createdAt">
          {{ formatDate this.createdAt }}
        </time>
      </header>

      <div class="post__content">
      {{ spliceContent this.content 100 }}
      </div>

      <a class="post__link" href="/posts/{{this._id}}"></a>
    </article>
  {{/each}}
  </section>
{{/main}}