<div>
  My posts

  {{#each posts}}
    <article>
      <p>
        {{this.content}}
      </p>
      <p>
        {{this.author.userName}}
      </p>

      <p>
        {{this.createdAt}}
      </p>

      <form action='/api/posts/{{this._id}}' method='POST'>
        <button type='submit'>
          delete
        </button>
      </form>
    </article>
  {{/each}}
</div>