<form action='/signup' method='POST'>
  <fieldset>
    <label for='userName'>Username</label>
    <input type='text' name='userName' id='userName' required />
  </fieldset>

  <fieldset>
    <label for='email'>Email</label>
    <input type='email' name='email' id='email' required />
  </fieldset>

  <fieldset>
    <label for='password'>Password</label>
    <input type='password' name='password' id='password' required />
  </fieldset>

  <button type='submit'>Login</button>
</form>