<form class='post-form' action='/api/posts' method='POST'>
  <textarea
    class='post-form__field'
    name='content'
    cols='30'
    rows='5'
    placeholder='Write your post here...'
  ></textarea>

  <button class='button' type='submit'>
    Publish
  </button>
</form>