{{#> main}}
  {{#if isAuth}}
    <h1>Welcome</h1>

    <form action="/api/posts" method="POST">
      <textarea name="text"  cols="30" rows="8"></textarea>

      <button type="submit">
        send
      </button>
    </form>
  {{/if}}

  {{#each posts}}
    <article>
      <p>
      {{ this.text }}
      </p>
      <p>
      {{ this.author.userName }}
      </p>

      <p>
      {{ this.createdAt }}
      </p>

      <form action='/api/posts/{{this._id}}' method='POST'>
        <button type='submit'>
          delete
        </button>
      </form>
    </article>
  {{/each}}
{{/main}}