body {
  margin: 0;
  min-height: 100vh;
}

* {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: #555555;
  position: sticky;
  top: 0;
  z-index: 5;
}

.header-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 1140px;
}

.header__list {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__link {
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  padding: 5px 10px;
  border-radius: 3px;
  color: #ccc;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
}

.header__link:hover {
  color: #fff;
  background-color: #444444;
}

.header__link.active {
  color: #fff;
  background-color: #666666;
}

.header__link--btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.header__link--main {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 20px;
}

.posts-create {
  margin-bottom: 20px;
}

.posts-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.posts-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.post {
  display: grid;
  row-gap: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  position: relative;
  padding: 10px;
}

.post-container {
  display: grid;
  row-gap: 20px;
}

.post__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.post__header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 10px;
}

.post__content {
  font-size: 15px;
  line-height: 20px;
}

.post__footer {
  border-top: 1px solid #e5e5e5;
}

.post-form {
  display: grid;
  row-gap: 10px;
  margin: 0;
}

.post-form__field {
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ddd4d4;
  resize: none;
}

.auth {
  width: 500px;
  margin: 0 auto;
}

.auth-title {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.auth-form {
  display: grid;
  row-gap: 20px;
  border-radius: 6px;
  border: 1px solid #a67c7c;
  padding: 20px;
}

.auth-form__box {
  display: grid;
  row-gap: 10px;
  border: none;
  margin: 0;
  padding: 0;
}

.auth-form__field {
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ddd4d4;
}

.button {
  outline: none;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.15s ease;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.button--warn {
  background-color: rgb(210, 47, 47, 0.8);
}

.button--warn:hover {
  background-color: rgb(210, 47, 47, 1);
}

.button--mini {
  padding: 5px;
}

.back-link {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 5px;
  border-radius: 4px;
  padding: 5px 10px 5px 5px;
  width: fit-content;
  text-decoration: none;
  color: #000;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.back-link:hover {
  background-color: #000;
  color: fff;
}

.comments {
  display: grid;
  row-gap: 10px;
}

.comments-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  margin: 0;
}

.comments-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.comments-list__item {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px 10px;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  padding: 10px;
}

.comments-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.comments-list__item .button {
  grid-column: 2;
  grid-row: 1/3;
  align-self: flex-start;
  justify-self: flex-end;
}

.comment-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.comment-content {
  grid-column: 1;
  grid-row: 2;
  font-size: 18px;
  line-height: 20px;
}

.users {
  display: grid;
  row-gap: 20px;
}

.users-title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

.users-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.users-list__item {
  display: grid;
  row-gap: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 10px;
}

.users-list__box {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 5px;
}

.link {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: blue;
  transition: color 0.2s ease;
}

.link:hover {
  color: darkblue;
}

.error {
  color: red;
}

.control-error {
  border-color: red;
  box-shadow: inset 0px 0px 3px red;
}
