.auth {
  width: 500px;
  margin: 0 auto;
}

.auth-title {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.auth-form {
  display: grid;
  row-gap: 20px;
  border-radius: 6px;
  border: 1px solid #a67c7c;
  padding: 20px;
}

.auth-form__box {
  display: grid;
  row-gap: 10px;
  border: none;
  margin: 0;
  padding: 0;
}

.auth-form__field {
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ddd4d4;
}
