.post-container {
  display: grid;
  row-gap: 20px;
}

.comments {
  display: grid;
  row-gap: 10px;
}

.comments-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  margin: 0;
}

.comments-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.comments-list__item {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px 10px;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  padding: 10px;
}

.comments-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.comments-list__item .button {
  grid-column: 2;
  grid-row: 1/3;
  align-self: flex-start;
  justify-self: flex-end;
}

.comment-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.comment-content {
  grid-column: 1;
  grid-row: 2;
  font-size: 18px;
  line-height: 20px;
}
