<header class="app-header">
  <a class="app-header__nav-link app-header__nav-link--title" href="/">
    Home
  </a>

  <nav class="app-header__nav">
    <ul class="app-header__nav-list">
      <li>
        <a class="app-header__nav-link" href="/login"> Login </a>
      </li>

      <li>
        <a class="app-header__nav-link" href="/signup"> Sign up </a>
      </li>
    </ul>
  </nav>
</header>
